@import './base.css';

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
body{
  min-height: 100vh;
}
html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.star-pattern {
  min-height: 100%; /* 使用视窗高度作为最小高度 */
}


.star-pattern {
  background-image: url('./wow.png');
  background-size: cover;
  /* 确保背景图像覆盖整个页面 */
  background-repeat: no-repeat;
  /* 防止背景图像重复 */
  background-attachment: fixed;
  /* 背景图像在滚动时保持固定 */
}

.fancy-text {
  color: #FF5733;
  /* 鲜艳的颜色 */
  background-image: linear-gradient(to right, #FFC371, #FF5F6D);
  /* 渐变效果 */
  background-clip: text;
  color: transparent;
}

.rilo-text {
  background: linear-gradient(to right, #FF7E5F, #FEB47B);
  background-clip: text;
  color: transparent;
}

.github {
  text-shadow: 2px 2px 4px #000000;
}

.gradient-text {
  background: linear-gradient(to right, #00B4DB, #0083B0);
  background-clip: text;
  color: transparent;
}

.dream {
  background: linear-gradient(to right, #FF6B6B, #FFD26F);
  background-clip: text;
  color: transparent;
}

.sea {
  background: linear-gradient(to right, #3A7BD5, #3A6073);
  background-clip: text;
  color: transparent;
}